/build*/
/deps/
/models/
/downloads/
/tools/
__pycache__/
*.pyc
/results/*
!/results/.gitkeep
/recordings/
/results/user_voice_*
*.exe
*.o
*.so*
*.dll
/docs/known_hosts
*.mp3
*.wav
*.m4a
*.onnx
*.tar.gz
*.tar.bz2
